{% extends "email_change/base.html" %}
{% load i18n %}

{% block title %}{% trans "Email confirmation" %}{% endblock %}

{% block breadcrumbs-box %}
    {{ block.super }} &rsaquo; {% trans "Notice" %}
{% endblock %}

{% block coltype %}login{% endblock %}

{% block content_title %}
    <h1>{% trans "Email confirmation failed" %}</h1>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>{% trans "This confirmation code has either expired or is invalid." %}</p>
        <p>{% trans "The requested email address change has failed." %}</p>
        <p>{% trans "Please, try to change it again in your account settings." %}</p>
        <p>&laquo; <a href="{% url profiles_profile_detail user.username %}">{% trans "Back to your profile" %}</a></p>
    </div>
{% endblock %}

